<footer>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col text-center my-5">
                <img src="assets\logos\Logo blanco.png" class = "img-fluid tamanoImg">
            </div>
            <div class = "col text-start">
                <h4 class = "tipoLetra">Academia Hacking Ético y Pentesting</h4>
                <p class = "tipoLetra2">
                    Curso y tutoriales de hacking ético y pentesting
                </p>
                <p class = "tipoLetra2">
                    Simulaciones de pentesting
                </p>
                <p class = "tipoLetra2">
                    Plataforma de competición
                </p>
                <p class = "tipoLetra2">
                    Foros de discusión
                </p>
            </div>
            <div class = "col text-start mx-auto">
                <h4 class = "tipoLetra">Legal</h4>
                <p class = "mt-auto tipoLetra2">
                    Termino y condiciones
                </p>
                <p class = "tipoLetra2">
                    Política de privacidad
                </p>
                <p class = "tipoLetra2">
                    Política de cookies
                </p>
                <p class = "tipoLetra2">
                    Aviso legal
                </p>
            </div>
            <div class = "col ">
                <h4 class = "tipoLetra">Siguenos!</h4>
            </div>
        </div>
    </div>
</footer>
