/* Estilos para el footer */
footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-services {
    margin-bottom: 20px;
  }
  
  .footer-follow {
    margin-top: 20px;
  }

  .tamanoImg{
    width: 8vh;
  }

  .tipoLetra {
    font-family: 'UbuntuNerdFont-Bold', sans-serif; 
  }

  .tipoLetra2 {
    font-family: 'UbuntuNerdFont-Italic', sans-serif; 
  }