/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

@font-face {
    font-family: 'UbuntuNerdFont-Bold'; 
    src: url('/assets/fonts/UbuntuNerdFont-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'UbuntuNerdFont-Italic'; 
    src: url('/assets/fonts/UbuntuNerdFont-Italic.ttf') format('truetype');
}